<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>INDRA Network Search</title>

  <!-- JS libraries -->
  <!-- JQ -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <!-- BS 4.1.3 -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
  <!-- Links -->
  <!-- BS 4.1.3 css -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!-- Libraries -->
  <!-- Choices multiselect library: https://github.com/jshjohnson/Choices -->
  <!-- Include Choices CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
  <!-- Include Choices JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

  <!-- custom scripts -->
  <script>
    const stmtOptions = {{ stmt_types|safe }};
    const nodeOptions = {{ node_name_spaces|safe }};
    const termNsOptions = {{ terminal_name_spaces|safe }};
    const INDRA_DB_URL_AGENTS = '{{ indra_db_url_fromagents }}?format=html&';
    let query_hash = '{{ query_hash }}';
  </script>
  <script src="{{ url_for('static', filename='netSearch.js') }}"></script>
  <script>
    $(document).ready(function() {
      let oldQuery = {{ old_query|safe }};
      if (oldQuery && !($.isEmptyObject(oldQuery))) {
        console.log('Filling results for old query:');
        console.log(oldQuery);
        let [oldStmtItems, oldNodeItems, oldTermNamespaces] = fillOldQuery(oldQuery);
        const stmtFilter = new Choices('#stmt-filter', {choices: oldStmtItems});
        const nodeFilter = new Choices('#node-filter', {choices: oldNodeItems});
        const terminalNamespaces = new Choices('#terminal-namespaces', {choices: oldTermNamespaces});
      } else {
        const stmtFilter = new Choices('#stmt-filter', {choices: stmtItems});
        const nodeFilter = new Choices('#node-filter', {choices: nodeItems});
        const terminalNamespaces = new Choices('#terminal-namespaces', {choices: termNamespaces});
      }
      resetCounters();
      clearAllTables();
      let oldResults = {{ old_result|safe }};
      if (!($.isEmptyObject(oldResults))) {
        console.log('oldResults');
        console.log(oldResults);
        fillResultsTable(oldResults, "{{ source }}", "{{ target }}")
      }

      // Finally send user to the linked loction if any
      let detailedLink = window.location.href.split('#')[1];
      if (detailedLink) {
        window.location.href = `${window.location.href.split('#')[0]}#${detailedLink}`
      }
    });
  </script>
  <style>
    a.stmt_toggle {
      cursor: pointer;
      color: #000000;
    }
    .row {
      padding-bottom: 5px;
    }
    .placeholder {
      display: inline-block;
    }
    a {
      target-new: tab;
    }
    .choices__list--multiple .choices__item {
      background-color: #007bff;
      border: #007bff;
    }

    /* Badge color coding from colorbrewer2.org */
    /* Readers */
    .source-medscan {color: white; background-color: #7fc97f}
    .source-rlimsp {color: white; background-color: #beaed4}
    .source-trips {color: white; background-color: #fdc086}
    .source-sparser {color: darkgreen; background-color: #ffff99}
    .source-reach {color: white; background-color: #386cb0}
    .source-isi {color: white; background-color: #f0027f}
    /* databases */
    .source-phosphosite {color: white; background-color: #a6cee3}
    .source-cbn {color: white; background-color: #1f78b4}
    .source-pc11 {color: white; background-color: #b2df8a}
    .source-tees {color: white; background-color: #33a02c}
    .source-geneways {color: white; background-color: #fb9a99}
    .source-biopax {color: white; background-color: #e31a1c}
    .source-bel {color: white; background-color: #fdbf6f}
    .source-bel_lc {color: white; background-color: #fdbf6f}
    .source-signor {color: white; background-color: #ff7f00}
    .source-biogrid {color: white; background-color: #cab2d6}
    .source-tas {color: white; background-color: #6a3d9a}
    .source-lincs_drug {color: navy; background-color: #ffff99}
    .source-hprd {color: white; background-color: #b15928}
    .source-trrust {color: white; background-color: #ff4612}
  </style>
</head>
<body>
  <div class="container">
    <h1 class="display-5" style="padding-top: 15px; padding-bottom: 15px;">INDRA Network Search</h1>
    <p>Read the documentation <a href="https://depmap-analysis.readthedocs.io/en/latest/indra_depmap_service/web_ui_introduction.html">here</a>.</p>
  </div>
  <div class="container">
    <h2 class="display-6">Enter search</h2>
    <form>
      <div class="row">
        <div class="col">
          <input type="text" id="source" class="form-control" placeholder="Enter source">
        </div>
        <div class="col">
          <input type="text" id="target" class="form-control" placeholder="Enter target">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="container" style="width: 185px; float: left; padding: 0px;">
            <input class="form-control" type="number" step="1" name="path_length" id="path-length" min="0" max="10"
                   placeholder="Path length"
                   title="Only search for paths with the specified number of edges. An empty value allows any number of edges.">
          </div>
        </div>
        <div class="col">
          <div class="container" style="width: 160px; float: left; padding: 0px;">
            <input class="form-control" type="number" step="1" name="k_shortest" id="k-shortest" min="1" max="50"
                   placeholder="Max # Paths"
                   title="The maximum number of paths per category to return. Default is 50.">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="node-filter">Allowed node namespaces (does not affect
            source or target).
            :</label><br/>
          <div class="form-select" title="The path will only contain nodes from the selected namespaces">
            <select name="node-filter" id="node-filter" placeholder="Node namespaces included in path" multiple>
            </select>
          </div>
        </div>
      </div>
      <div class="card-header" data-toggle="collapse" data-target="#detailed-options" aria-expanded="false" aria-controls="collapse-paths-5f">
        <h3 class="display-7">
          <a href="#" class="stmt_toggle">
            Detailed Search Options</a>
        </h3>
        <i>Click to see detailed options</i>
      </div>
      <div id="detailed-options" class="collapse">
        <div class="card-body">
          <h5 class="display-5">
            <a href="#" class="stmt_toggle">Open Search Options</a>
          </h5>
          <div class="row">
            <div class="col">
              <div class="form-select" title="The path will end on and not expand from the nodes from the selected namespaces">
                <label for="terminal-namespaces">Terminal namespaces:</label><br/>
                <select name="terminal-namespaces" id="terminal-namespaces" placeholder="Terminal namespaces" multiple>
                </select>
              </div>
            </div>
            <div class="col">
              <div>Maximum number of children to consider during
                unweighted breadth first search</div>
              <div class="container" style="width: 160px; float: left; padding: 0px;">
                <input class="form-control" type="number" step="1" name="max-per-node" id="max-per-node" min="1" max="50"
                      placeholder="Max per node"
                      title="The maximum number of times a node can be a parent to leaf nodes for open unweighted search.">
              </div>
            </div>
          </div>

          <h5 class="display-5">
            <a href="#" class="stmt_toggle">Context Options</a>
          </h5>
            {# 2-by-2 grid #}
            <div class="row">
              <div class="col">
                <div>Provide MeSH IDs for context based search</div>
                <input type="text" id="mesh-id-list" class="form-control" title="The path will only contain edges with provided MeSH IDs (all if left empty)." placeholder="MeSH IDs (comma separated)">
              </div>
              <div class="col">
                <div class="container" style="float: left; padding: 0px;">Path weight/length tradeoff</div>
                <div class="container" style="width: 90px; float: left; padding: 0px;">
                  <input class="form-control" type="number" step="1" name="const_c" id="const_c" placeholder="C = [1..120]"
                    min="1" max="120"
                    title="Constant used in edge weight calculation based on MeSH IDs. Constant C in the formula -C * ln(ref_counts / (total + Tk))"
                    value="1">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="strict-mesh-id-filtering">
                  <label class="custom-control-label" for="strict-mesh-id-filtering">Strict filtering on MeSH IDs</label>
                </div>
              </div>
              <div class="col">
                <div class="container" style="float: left; padding: 0px;">Evidence threshold</div>
                <div class="container" style="width: 90px; float: left; padding: 0px;">
                  <input class="form-control" type="number" step="1" name="const_tk" id="const_tk" placeholder="Tk = [1..120]"
                    min="1" max="120"
                    title="Constant used in edge weight calculation based on MeSH IDs. Constant Tk in the formula -C * ln(ref_counts / (total + Tk))"
                    value="10">
                </div>
              </div>
            </div>
          <h5 class="display-5">
            <a href="#" class="stmt_toggle">General Options</a>
          </h5>
      <div class="row">
        <div class="col">
          <div class="form-select" title="The path will not contain the selected statement types">
            <label for="stmt-filter">Exclude statements:</label><br/>
            <select name="stmt-filter" id="stmt-filter" placeholder="Statement types to exclude" multiple>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" id="node-blacklist" class="form-control" title="Paths containing the entered nodes will not be allowed" placeholder="Node name blacklist (comma separated)">
        </div>
        <div class="col">
          <input type="text" id="edge-hash-blacklist" class="form-control" title="Paths containing the entered statement hashes will not be allowed" placeholder="Edge hash blacklist (comma separated)">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label style="margin: 0px;"><div class="container" style="width: 90px; float: left; padding: 0px;">
            <input class="form-control" type="number" step="0.01" name="belief_cutoff" id="belief-cutoff" min="0" max="0.99">
          </div>&nbsp;Belief Score cut-off (0 to 0.99), higher is better</label>
        </div>
        <div class="col">
          <input type="text" id="cull-best-node" class="form-control"
          title="Every x valid paths, cull the node with the highest (weighted) degree from the network. This increases the variety of paths found and reduces the impact of nodes with extremely high connectivity in the network."
          placeholder="Cull highest degree node every # paths"
          >
        </div>
      </div>
      <div class="row">
        <div class="dropdown" style="padding-left: 15px; padding-right: 15px;">
          <label><select id="sign-dd" {% if not has_signed_graph %}disabled{% endif %}>
            <option selected="selected" value="no_sign">No sign</option>
            <option value="plus" title="Upregulation">+</option>
            <option value="minus" title="Downregulation">-</option>
          </select>&nbsp;&nbsp;{% if has_signed_graph %}Sign{% else %}Signed graph not available{% endif %}</label>
        </div>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="shared-regulators">
        <label class="custom-control-label" for="shared-regulators">Include shared regulators</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="two-ways">
        <label class="custom-control-label" for="two-ways">Include reverse search</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="weighted-search">
        <label class="custom-control-label" for="weighted-search">Weighted search</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="curated-db-only">
        <label class="custom-control-label" for="curated-db-only">Databases only</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="fplx-edges">
        <label class="custom-control-label" for="fplx-edges">Include FamPlex Families and Complexes in path search</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="fplx-expand">
        <label class="custom-control-label" for="fplx-expand">Expand search to FamPlex families and complexes when paths are not found</label>
      </div>
        </div>
      </div>
      <div class="row" style="margin-top: 16px; margin-bottom: 16px">
        <div class="col-2">
          <button type="button" class="btn btn-primary" onclick="submitQuery()">Submit query</button>
        </div>
        <div class="col-2">
          <input class="form-control" type="number" step="0.01" name="user_timeout" id="user_timeout" placeholder="timeout (s)"
                 min="2" max="120"
                 title="Enter a timeout between 2 and 120 to override the default timeout of 30 seconds.">
        </div>
        <div class="col">
          <p id="download-p" hidden>Download Statements
            <a download href="/stmts_download/stmts.json"
               id="download-link">here</a></p>
        </div>
      </div>
    </form>
  </div>
  <div class="container">
    <p><i id="query-status">Waiting for query to be submitted</i></p>
  </div>

  <div id="table-area" class="container">
    <h2 class="display-6">Search Results</h2>
    <p>Click on the headers to expand/collapse detailed results</p>
    <!-- Dynamic tables -->
  </div>

  <footer class="footer text-muted" id="about" style="background: #F5F5F5;">
    <div class="container">
      <h5 class="my-0 mr-md-auto font-weight-normal">About</h5>
      <small>
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p><a href="https://indralab.github.io" target="_blank">INDRALAB</a></p>
        <p><a href="http://hits.harvard.edu" target="_blank">Harvard Program in Therapeutic Science (HiTS)</a></p>
        <p><b>Automated Scientific Discovery Framework </b>(ASDF)<br>The DARPA ASDF project develops algorithms and software for reasoning about complex mechanisms operating in the natural world, explaining large-scale data, assisting humans in generating actionable, model-based hypotheses and testing these hypotheses empirically.<br><i>ASDF is funded by the Defense Advanced Research Projects Agency under award W911NF018-1-0124.</i></p>
      </small>
    </div>
  </footer>
</body>
</html>
